/* @font-face {
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Martel Sans Regular'), local('MartelSans-Regular'), url(webfonts/martel-sans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

* {
    font-family: 'Martel Sans', sans-serif;
}

body {
    background-color: #232125;
    margin: 0;
}

#popup, #frames {
    background-color: #332f35;
    color: white;
    font-size: 20px;
    max-width: 350px;
    z-index: 2;
}

#popup {
    display: none;
}

#popup h3 {
    line-height: 30px;
}

#frames {
    padding: 5px;
    height: 100px;
    margin-top: 5px;
}

#frames #gallery {
    overflow-y: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
}

[draggable] {
    user-select: none;
}

#frames .btn {
    position: absolute;
    color: white;
    font-size: 20px;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

#frames img {
    width: 90px;
    margin: 5px;
    cursor: move;
    -webkit-touch-callout: none;
}

#trash {
    position: absolute;
    visibility: hidden;
    top: 50%;
    color: white;
    font-size: 60px;
}

#width,
#height {
    background-color: #262327;
    color: white;
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    font-weight: bolder;
    border: none;
    border-radius: 3px;
    max-width: 60px;
}

#close {
    background-color: #262327;
    color: white;
    margin: 15px auto 5px auto;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    font-weight: bolder;
    display: block;
    border: none;
    border-radius: 3px;
    max-width: 60px;
    transition: 0.2s all;
}

#close:hover {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

#main {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#canvas {
    box-shadow: 0px 0px 10px 0px rgba(0 0 0 50);
    display: none;
    width: 100%;
    max-width: 550px;
    cursor: crosshair;
    touch-action: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}

#toolbar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0px;
    color: white;
    max-width: 32px;
}

#toolbar .item {
    display: inline-block;
    float: left;
    padding: 15px;
    border: 1px solid #545454;
    cursor: pointer;
    height: 30px;
    width: 30px;
    font-family: Arial, FontAwesome;
    font-size: 30px;
    text-align: center;
}

#colors {
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    padding: 0px;
    color: white;
    max-width: 100px;
}

#palette {
    --checker-color-1: rgb(153, 153, 153);
    --checker-color-2: #FFFFFF;
    --checker-size: 5px;
    --checker-gradient: linear-gradient(45deg, var(--checker-color-1) 25%, transparent 25%, transparent 75%, var(--checker-color-1) 75%);
}

#palette .item {
    display: inline-block;
    float: left;
    padding: 24px;
    cursor: pointer;
    border: 1px solid #545454;
}

#palette .item.selected {
    border: 1px solid white;
    box-shadow: inset 0 0 0px 1px;
}

#palette .item.empty {
    background-color: var(--checker-color-2);
    background-image: var(--checker-gradient), var(--checker-gradient);
    background-position: 0 0, var(--checker-size) var(--checker-size);
    background-size: calc(var(--checker-size) * 2) calc(var(--checker-size) * 2);
}

path {
    fill: white;
}

.item:hover {
    background-color: grey;
}

@media only screen and (max-width: 600px) {
    #toolbar {
        position: fixed;
        top: 100%;
        left: 50%;
        min-width: 100%;
        transform: translate(-50%, -100%);
        padding: 0px;
        color: white;
    }

    #colors > input {
        float: left;
        width: 50px;
        height: 50px;
        margin: 5px 5px 0 5px;
    }

    #colors {
        position: fixed;
        top: 0;
        transform: translateY(0%);
        min-width: 100%;
        padding: 0;
        color: white;
    }

    #toolbar .item {
        width: 10px;
        height: 10px;
        font-size: 15px;
    }

    #colors .item {
        padding: 15px;
    }
}